extends layout

block content
  div#leftCol.col-md-3
    ul.nav.nav-pills.nav-stacked
      li.active
        a(href='#/keywords') Keywords
  div.col-md-9.rightColumn
    div.loader(ng-controller='SpinnerCtrl', ng-show='spinner.loading')
    div#mainView.mainView(ng-view='')


